@ali-font-path: '../fonts';

@font-face {
    font-family: 'AlibabaPuHuiTi-2-115-Black';
    src: url('@{ali-font-path}/AlibabaPuHuiTi-2-115-Black.ttf');
}

@font-face {
    font-family: 'AlibabaPuHuiTi-2-115-Heavy';
    src: url('@{ali-font-path}/AlibabaPuHuiTi-2-105-Heavy.ttf');
}

@pagewidth: 100vw;
@pageheight: 100vh;
@blue: #7FCCFF;
@yellow-d: #E8940B;
@green-l: #3A9512;

body{
    padding: 0;
    margin: 0;
    background-color: rgba(10, 28, 55, 1);
    *{
        padding: 0;
        margin: 0;
        font-family: "雅黑", "微软雅黑", "Microsoft YaHei", 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    }
}
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
.box{
    background: url('../css/imgs/title.png') no-repeat center top;
    background-size: contain;
}